<div class="modal-body">
	<div class="well well-design" id="newTaskDiv">
	<%= form_for :task, :url => {:controller => "tasks", :action => "create"} do |f| %>
		<%= f.text_area :description, :placeholder => "A desciption of this task." %>
		<%= f.number_field :hours, :placeholder => 1 %>
		<%= f.number_field :user_story_id, :value => @user_story.id, :hidden => true %>
		<%= f.select :task_type, options_for_select(task_types) %>
		<%= f.submit "create", :class => "btn btn-primary" %>
	<% end %>
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
</div>
<script type="text/javascript">
	$(document).on('change', '#task_task_type', 
			function() {
			var newColour;
			var taskType = $(this).val();
		
			if(taskType == "Design")
			{
				newColour = "#93d9a6";
			}
			if(taskType == "Development")
			{
				newColour = "#99c7ff";
			}
			if(taskType == "Documentation")
			{	
				newColour = "#ff7575";
			}
			if(taskType == "Spike")
			{
		 		newColour = "#e697e6";	
			}
		  $("#newTaskDiv").css("background-color", newColour);	
  });
</script>
