<div class="well well-<%= task.task_type.downcase %>", id=<%= task.id %>>
  <p><b><%= task.task_type %></b></p>
	<p><b>Description: </b><%= task.description%></p>
	<div class="circle">
		<div class="circle-text">
			<b><%= task.hours %></b>
		</div>
	</div>
</div>