<div class="well well-<%= task.task_type.downcase %>", id=<%= task.id %>>
  <p>
  	<b>
  		<%= task.task_type %>
  	</b>
  </p>
	<p>
		<b>
			Description: 
		</b>
		<%= task.description%>
	</p>
	<strong>
		<p id='p<%= task.id %>'>
			<% if task.user_name %>
				<%= 'Assigned to: ' << task.user_name %><br>
			<% else %>
				<%= 'Unassigned' %><br>
			<% end %>
			<% if task.user_name && task.user_name == current_user.name %>
				<button class = 'btn btn-success' >drop task</button>
			<% else %>
				<button id=<%= "assign" << task.id.to_s %> class="btn btn-info">jump on it!</button>
			<% end %>
		</p>
	</strong>
	<div class='circle-align'>
		<% if task.user_name %>
			<%= image_tag task.user.image, :class => 'avatar-image', :id => "image" + task.id.to_s %>
		<% else %>
			<%= image_tag "", :class => 'avatar-image', :id => "image" + task.id.to_s %>
		<% end %>
		<div class="circle">
			<div class="circle-text">
				<b><%= task.hours %></b>
			</div>
		</div>
	</div>
</div>
