<div class="well well-<%= task.task_type.downcase %>", id=<%= task.id %>>
  <b> <%= task.task_type %> task </b>
	<ul>
		<li> description: <%= task.description %> </li>
		<li> hours <%= task.hours %> </li>
	</ul>
</div>