<!DOCTYPE html>
<html>
<head>
  <title>KanScrum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-1.10.2.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<h2 id="notice"><%= notice %></h2>
</head>
<body>
	<%= yield %>
</body>
</html>
